@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button, input {
  font-family: 'Montserrat';
}

